extends layout

block content
	div(id="dialog-confirm" title="Confirm Swap?")
		p
	div(class="left")
		h3.title#welcome Welcome to #{title}
		p#underTitle Make a trade by entering your information below
		
		div(class="form-group", id="enterTrades")
			input(type="submit", value="Commodity Trades", class="btn btn-info", onclick="hide('toggle2'), toggle_visibility('toggle1')", id="enterTradesButtons")
			input(type="submit", value="Interest Rate Swaps", class="btn btn-success", onclick="hide('toggle1'), toggle_visibility('toggle2')", id="enterTradesButtons")
		div(class="form-group", id="toggle1", style="display:none;")
			form(name="makeTrade", action="/", method="post", id="makeTradeForm")
				div(class="form-group")
					label Symbol
					select(name="symbol", id="symbolDropdown", ss="form-control", class = "form-control") 
						option(value=LN) LN
						option(value=NN) NN
						option(value=NG) NP
						option(value=HH) HH
						option(value=ON) ON
						option(value=HP) HP
						option(value=PD) PD
						option(value=HB) HB
						option(value=TC) TC
						option(value=PH) PH
						option(value=NR) NR
						option(value=TR) TR
						option(value=NL) NL
						option(value="5Z") 5Z
						option(value=GL) GL
						option(value=PG) PG
						option(value=IN) IN
						option(value=NH) NH
						option(value="9F") 9F
						option(value=NW) NW
						option(value=G4) G4
						option(value=PW) PW
						option(value=CI) CI
						option(value="6J") 6J
						option(value=NX) NX
						option(value=NK) NK
						option(value=CZ) CZ
						option(value=NJ) NJ
						option(value=ZR) ZR
						option(value=E7) E7
						option(value=AB) AB 
				div(class="radio")
					label(class="checkbox-inline")
						input(type="radio", name="transType", value="Market", onclick="hidePrice()")
						| Market
				div(class="radio")
					label(class="checkbox-inline")
						input(type="radio", name="transType", value="Limit", onclick="showPrice()")
						| Limit
				div(class="radio")
					label(class="checkbox-inline")
						input(type="radio", name="transType", value="Pegged", onclick="hidePrice()")
						| Pegged
				div(class="form-group", id="limitPrice")
					label Limit Price
					input(type="text", name="price", class="form-control")
				div(class="form-group")
					label Expiry
					input(type="text", name="expiry", class="form-control")
				div(class="form-group")
					label Lots
					input(type="number", name="lots", class="form-control")
				div(class="radio")
					label(class="checkbox-inline")
						input(type="radio", name="transSide", value="Sell")
						| Sell
					label(class="checkbox-inline")
						input(type="radio", name="transSide", value="Buy")
						| Buy
				div(class="form-group")
					label Trader 
					select(name="trader", id="traderDropdown", class="form-control")
				div(class="form-group")
					input(type="submit", value="Submit", class="btn btn-default")
			
		div(class="form-group", id="toggle2", style="display:none;")
			form(name="interestRateSwaps", action="/interestRateSwap", method="post", id="interestRateSwaps")
				div(class="form-group")
					label Start Date
					input(type="date", name="startDate", class="form-control")
				div(class="form-group")
					label Termination Date
					input(type="date", name="terminationDate", class="form-control")
				div(class="form-group")
					label Notional Amount 
					input(type="text", name="notionalAmount", class="form-control")
				div(class="form-group")
					label Floating Rate (%)
					input(type="text", name="floatingRate", class="form-control")
				div(class="form-group")
					label Spread on Floating Rate
					input(type="text", name="spreadOnFloatingRate", class="form-control")
				div(class="form-group")
					label Fixed Rate (%)
					input(type="text", name="fixedRate", class="form-control")
				div(class="form-group")
					label Trader 
					select(name="trader", id="traderDropdown2", class="form-control")
				div(class="form-group")
					label Fixed paid by:
					div(class="radio", id="fixed-float-radio")
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFixed", value="Me", onclick="hide_show_show('float1', 'float2', 'float3')")
							| Trader
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFixed", value="CME", onclick="hide_show_show('float2', 'float1', 'float3')")
							| CME
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFixed", value="LCH", onclick="hide_show_show('float3', 'float1', 'float2')")
							| LCH
				div(class="form-group")
					label Float paid by:
					div(class="radio", id="fixed-float-radio")
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFloat", value="Me", id="float1")
							| Trader
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFloat", value="CME", id="float2")
							| CME
						label(class="checkbox-inline")
							input(type="radio", name="whoPaysFloat", value="LCH", id="float3")
							| LCH
				div(class="form-group")
					input(type="submit", value="Submit", id="submitSwap", class="btn btn-default")

		div(class="form-group", id="bottom")
			label Fill Messages: 
			p(id="msgs")
			!{fills}
	div(class="right")
		h3.title Create a New User
		form(name="createNewUser", action="/newUser", method="post", id="createNewUserForm")
			div(class="form-group")
				label First Name
				input(type="text", name="first", class="form-control")
			div(class="form-group")
				label Last Name
				input(type="text", name="last", class="form-control")
			div(class="form-group")
				input(type="submit", value="Create New Trader", class="btn btn-default", style="margin-top:2vw")

		h3.title Create CSV Files
		div(class="form-group", id="getCSV")
			input(type="submit", value="CSV for Commodity Trades", class="btn btn-info", onclick="hide('toggle4'), toggle_visibility('toggle3')", id="getCSVButtons")
			input(type="submit", value="CSV for Interest Rate Swaps", class="btn btn-success", onclick="hide('toggle3'), toggle_visibility('toggle4')", id="getCSVButtons")

		div(class="form-group", id="toggle3", style="display:none;")
			form(name="sendCSVTrades", action="/CSVTrades", method="get", id="sendCSVTradesForm")
				div(class="form-group")
					input(type="submit", value="Get CSV Trades", class="btn btn-info")
			form(name="sendCSVDaily", action="/CSVDailyTrades", method="get", id="sendCSVDailyTrades")
				div(class="form-group")
					input(type="submit", value="Get CSV of Daily Trades", class="btn btn-info")
			form(name="sendCSVAggregate", action="/CSVAggregate", method="get", id="sendCSVAggregateForm")
				div(class="form-group")
					input(type="submit", value="Get CSV Aggregate", class="btn btn-info")
			form(name="sendCSVPL", action="/CSVPL", method="get", id="sendCSVPLForm")
				div(class="form-group")
					input(type="submit", value="Get CSV PnL", class="btn btn-info")
				div(class="form-group")
					div(class="radio", id="pl-radio")
						label(class="checkbox-inline")
							input(type="radio", name="pltype", value="trades")
							| By Trades
						label(class="checkbox-inline")
							input(type="radio", name="pltype", value="trader")
							| By Trader
						label(class="checkbox-inline")
							input(type="radio", name="pltype", value="product")
							| By Product
			form(name="sendCSVMaturing", action="/CSVMaturing", method="get", id="sendCSVMaturingForm")
				div(class="form-group")
					input(type="submit", value= "Get CSV of Trades Maturing Today", class="btn btn-info")

		div(class="form-group", id="toggle4", style="display:none;")
			form(name="sendCSVSwaps", action="/CSVSwaps", method="get", id="sendCSVSwapsForm")
				div(class="form-group")
					input(type="submit", value="Get CSV Swaps", class="btn btn-success")
			form(name="sendCSVDailySwaps", action="/CSVDailySwaps", method="get", id="sendCSVDailySwaps")
				div(class="form-group")
					input(type="submit", value="Get CSV of Daily Swaps", class="btn btn-success")
			form(name="sendCSVAggregateSwaps", action="/CSVAggregateSwaps", method="get", id="sendCSVAggregateSwapsForm")
				div(class="form-group")
					input(type="submit", value="Get CSV Aggregate", class="btn btn-success")
			form(name="sendCSVPLSwaps", action="/CSVPLSwaps", method="get", id="sendCSVPLSwapsForm")
				div(class="form-group")
					input(type="submit", value="Get CSV PnL", class="btn btn-success")
			form(name="sendCSVMaturingSwaps", action="/CSVMaturingSwaps", method="get", id="sendCSVMaturingSwapsForm")
				div(class="form-group")
					input(type="submit", value= "Get CSV of Swaps Maturing Today", class="btn btn-success")
		h1.title EOD
		form(name="eod", action="/Eod", method="get", id="eod")
			div(class="form-group")
				input(type="submit", value="EOD", class="btn btn-default")
	
	script.
		function sendAlert(msg){
			if (msg)
			{
				alert(msg.replace(/\<br\/\>/g, "\n"));
			}
		}
		sendAlert("#{alertScript}");
		sendAlert("!{swapMessage2}");

		function populateTraders(traders)
		{
			var select = document.getElementById("traderDropdown");
			var select2 = document.getElementById("traderDropdown2");

			for (trader in traders)
			{
				trader = traders[trader]
				var el = document.createElement("option");
				el.textContent = trader;
				el.value = trader.split("-")[0];
				var el2 = document.createElement("option");
				el2.textContent = trader;
				el2.value = trader.split("-")[0];
				select.appendChild(el);
				select2.appendChild(el2);
			}
		}

		populateTraders(JSON.parse('!{traderScript}'));

		function showPrice(){
			document.getElementById("limitPrice").style.display = "block";
		}

		function hidePrice(){
			document.getElementById("limitPrice").style.display = "none";
		}

		function toggle_visibility(id){
			var e = document.getElementById(id);
			if(e.style.display == 'block')
				e.style.display = 'none';
			else
				e.style.display = 'block';
		}

		function hide(id){
			document.getElementById(id).style.display = "none";
		}

		function hide_show_show(id1, id2, id3){
			document.getElementById(id1).disabled = true;
			document.getElementById(id2).disabled = false;
			document.getElementById(id3).disabled = false;
		}

		function show_dialog(message, swapId) {
			if (message){
				$("#dialog-confirm p").prepend(message);  
			    $("#dialog-confirm").dialog({
					resizable: false,
					height: "auto",
					modal: true,
					buttons: {
						"Grant": function() {
							$( this ).dialog( "close" );
							$.ajax({
						        method: "POST",
						        url: "/replyConsent",
						        data: { swapId: swapId,
							        reply: "granted" }
						    });
						},
						"Refuse": function() {
							$( this ).dialog( "close" );
							$.ajax({
						        method: "POST",
						        url: "/replyConsent",
						        data: { swapId: swapId,
							        reply: "denied" }
						    });
						}
					}
				});
			}
		}

		show_dialog('!{swapMessage}', '!{swapId}');








